﻿<%@ Page Title="" Language="C#" MasterPageFile="~/server.master" AutoEventWireup="true" CodeBehind="chart.aspx.cs" Inherits="WebApplication2.chart" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
      <style type="text/css">
        .k
        {
            z-index: 1;
            left: 224px;
            top: 550px;
            position: absolute;
            height: 347px;
            width: 740px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
     <div class="k">

 <div class="sidebar">
        <div class="gadget">
          <h2 class="star"><span>Social Emotions</span></h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li><a href="posemotion.aspx">Positive Emotions</a></li>
            <li><a href="negemo.aspx">Negative Emotions</a></li>
            <li><a href="stressemo.aspx">Stress Emotions</a></li>
            
          </ul>
        </div>
      </div>


</div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
   
</asp:Content>
