﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MAIN.Master" AutoEventWireup="true" CodeBehind="Command.aspx.cs" Inherits="WebApplication2.Command" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .g
        {
            z-index: 1;
            left: 105px;
            top: 937px;
            position: absolute;
            height: 639px;
            width: 676px;
        }
      .auto-style1 {
          width: 100%;
      }
      .auto-style2 {
          height: 148px;
      }
      .auto-style3 {
          width: 90px;
      }
      .auto-style4 {
          height: 148px;
          width: 90px;
      }
    </style>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
   
 <div class="g">
    <asp:Label ID="Label1" runat="server" 
        style="z-index: 1; left: 188px; top: 17px; position: absolute; color: #FFFFFF; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif; text-transform: uppercase; height: 18px; width: 257px;" 
        Text="     User Command" BackColor="Black" ForeColor="#FF3300"></asp:Label>
    <asp:Label ID="Label2" runat="server" 
        style="z-index: 1; left: 136px; top: 102px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
        Text="Tweet_Name"></asp:Label>
    <asp:Label ID="Label3" runat="server" 
        style="z-index: 1; left: 144px; top: 172px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
        Text="Command"></asp:Label>
    <asp:TextBox ID="TextBox1" runat="server" 
        style="z-index: 1; left: 262px; top: 103px; position: absolute; width: 225px"></asp:TextBox>
    <asp:TextBox ID="TextBox2" runat="server" 
        style="z-index: 1; left: 260px; top: 157px; position: absolute; width: 222px; height: 35px" 
        TextMode="MultiLine"></asp:TextBox>
    <asp:Button ID="Button4" runat="server" onclick="Button4_Click" 
        style="z-index: 1; left: 290px; top: 233px; position: absolute; right: 324px; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif; height: 35px;" 
        Text="Enter" />
      </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
    
   
    
        
        
   
    
 
    </asp:Content>