﻿<%@ Page Title="" Language="C#" MasterPageFile="~/server.master" AutoEventWireup="true" CodeBehind="FetchTwitter.aspx.cs" Inherits="WebApplication2.FetchTwitter" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server"><style type="text/css">
        .aa
        {
            z-index: 1;
            left: 240px;
            top: 560px;
            position: absolute;
            height: 318px;
            width: 568px;
        }
        #Text1 {
            height: 48px;
            width: 792px;
        }
        #TextArea1 {
            height: 160px;
            width: 529px;
        }
    .auto-style1 {
        z-index: 1;
        left: 1px;
        top: 548px;
        position: absolute;
        height: 666px;
        width: 788px;
        text-align: justify;
    }
    </style>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">  <div   id="myDiv" class="auto-style1" style="overflow:scroll">
   
      <asp:TextBox ID="TextBox1" runat="server" Height="594px"  ReadOnly="True" TextMode="MultiLine" Width="846px" style="margin-left: 0px"></asp:TextBox>&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <asp:Label ID="Label1" runat="server" ForeColor="black" Text="TWEET TYPE:   " style="text-align: left"></asp:Label>&nbsp
      <asp:TextBox ID="TextBox2" runat="server" Height="16px" Width="63px" ForeColor="#FF3300"></asp:TextBox>
        <asp:Button ID="Button1" runat="server" Height="23px" Text="Find Tweet Type" Width="162px" OnClick="Button1_Click" />
        <asp:TextBox ID="TextBox3" runat="server" Height="16px" Width="224px" ForeColor="#FF3300"></asp:TextBox>
</div>

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">

</asp:Content>
