﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MAIN.Master" AutoEventWireup="true" CodeBehind="register.aspx.cs" Inherits="WebApplication2.register" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
     <style type="text/css">
        .c
        {
            z-index: 1;
            left: 210px;
            top: 550px;
            position: absolute;
            height: 581px;
            width: 591px;
            
        }
         .auto-style1 {
             z-index: 1;
             left: 118px;
             top: 916px;
             position: absolute;
             height: 581px;
             width: 591px;
             text-align: center;
         }
    </style>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="auto-style1">
    <asp:Label ID="Label1" runat="server" 
        style="z-index: 1; left: 168px; top: 25px; position: absolute; width: 217px; color: #000000; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif; text-align: center; height: 29px" 
        Text="Register Details"></asp:Label>
    <asp:Label ID="Label2" runat="server" 
        
    style="z-index: 1; left: 89px; top: 104px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif;" 
    Text="User Name"></asp:Label>
        <asp:TextBox ID="TextBox1" runat="server" 
    
    style="z-index: 1; left: 243px; top: 104px; position: absolute; width: 201px"></asp:TextBox>
<asp:TextBox ID="TextBox2" runat="server" 
    style="z-index: 1; left: 243px; top: 148px; position: absolute; width: 200px"></asp:TextBox>
<asp:TextBox ID="TextBox3" runat="server" 
    
    style="z-index: 1; left: 244px; top: 188px; position: absolute; width: 200px"></asp:TextBox>
<asp:TextBox ID="TextBox4" runat="server" 
    
    style="z-index: 1; left: 243px; top: 225px; position: absolute; width: 200px"></asp:TextBox>
<asp:TextBox ID="TextBox5" runat="server" 
    
    style="z-index: 1; left: 243px; top: 266px; position: absolute; width: 200px"></asp:TextBox>
<asp:TextBox ID="TextBox6" runat="server" 
    
    style="z-index: 1; left: 246px; top: 307px; position: absolute; width: 202px"></asp:TextBox>
<asp:DropDownList ID="DropDownList1" runat="server" 
    style="z-index: 1; left: 247px; top: 344px; position: absolute; width: 184px; height: 10px;">
    <asp:ListItem>---SELECT---</asp:ListItem>
    <asp:ListItem>Male</asp:ListItem>
    <asp:ListItem>Female</asp:ListItem>
</asp:DropDownList>
<asp:FileUpload ID="FileUpload1" runat="server" 
    style="z-index: 1; left: 249px; top: 383px; position: absolute; width: 207px;" />
        <asp:Label ID="Label3" runat="server" 
        
    style="z-index: 1; left: 88px; top: 147px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif;" 
    Text="Password"></asp:Label>
        <asp:Label ID="Label4" runat="server" 
        
    style="z-index: 1; left: 89px; top: 185px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif;" 
    Text="Email_Id"></asp:Label>
        <asp:Label ID="Label6" runat="server" 
        
    style="z-index: 1; left: 72px; top: 269px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif;" 
    Text="Your Address"></asp:Label>
        <asp:Label ID="Label7" runat="server" 
        
    style="z-index: 1; left: 100px; top: 310px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif;" 
    Text="DOB"></asp:Label>
        <asp:Label ID="Label8" runat="server" 
        
    style="z-index: 1; left: 93px; top: 347px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif;" 
    Text="Gender"></asp:Label>
        <asp:Label ID="Label9" runat="server" 
        
    style="z-index: 1; left: 96px; top: 388px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif;" 
    Text="Profile"></asp:Label>

<asp:Button ID="Button4" runat="server" 
    style="z-index: 1; left: 235px; top: 459px; position: absolute; width: 85px; color: #008FB3; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif; height: 34px" 
    Text="Enter" onclick="Button4_Click" />
        <asp:Label ID="Label5" runat="server" 
        
    style="z-index: 1; left: 68px; top: 225px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif;" 
    Text="Mobile_Number"></asp:Label>
    </div>

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">

</asp:Content>
