﻿<%@ Page Title="" Language="C#" MasterPageFile="~/server.master" AutoEventWireup="true" CodeBehind="reqndes.aspx.cs" Inherits="WebApplication2.reqndes" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .d
        {
            z-index: 1;
            left: 2px;
            top: 557px;
            position: absolute;
            height: 409px;
            width: 744px;
        }
    </style>


</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="d" style="overflow: scroll">
        </div>
    <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="False" 
  
        EmptyDataText="There are no data records to display." 
        
        
        
        
        style="z-index: 1; left: 115px; top: 639px; position: absolute; height: 184px; width: 537px; font-family: 'Times New Roman', Times, serif; font-size: medium;" 
        BackColor="#CCCCCC" BorderColor="#999999" BorderStyle="Solid" BorderWidth="3px" 
        CellPadding="4" CellSpacing="2" ForeColor="Black">
        <Columns>
            <asp:BoundField DataField="Request_From" HeaderText="Request_From" 
                SortExpression="Request_From" />
            <asp:BoundField DataField="Request_To" HeaderText="Request_To" 
                SortExpression="Request_To" />
            <asp:BoundField DataField="Req_Time" HeaderText="Req_Time" 
                SortExpression="Req_Time" />
            <asp:BoundField DataField="Status" HeaderText="Status" 
                SortExpression="Status" />
           </Columns>
        <FooterStyle BackColor="#CCCCCC" />
        <HeaderStyle BackColor="Black" Font-Bold="True" ForeColor="White" />
        <PagerStyle BackColor="#CCCCCC" ForeColor="Black" HorizontalAlign="Left" />
        <RowStyle BackColor="White" />
        <SelectedRowStyle BackColor="#000099" Font-Bold="True" ForeColor="White" />
        <SortedAscendingCellStyle BackColor="#F1F1F1" />
        <SortedAscendingHeaderStyle BackColor="#808080" />
        <SortedDescendingCellStyle BackColor="#CAC9C9" />
        <SortedDescendingHeaderStyle BackColor="#383838" />
    </asp:GridView>
    <%--<asp:SqlDataSource ID="SqlDataSource1" runat="server" 
        ConnectionString="<%$ ConnectionStrings:stressdetectConnectionString %>" 
        SelectCommand="SELECT [Request_From], [Request_To], [Req_Time], [Status] FROM [friend]">
    </asp:SqlDataSource>--%>
    
    <asp:Label ID="Label1" runat="server" 
        style="z-index: 1; left: 255px; top: 583px; position: absolute; width: 412px; color: #FFFFFF; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif; text-transform: uppercase" 
        Text="View Request and Response" BackColor="Blue" ForeColor="#FF0066"></asp:Label>





</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
</asp:Content>
