﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MAIN.Master" AutoEventWireup="true" CodeBehind="request.aspx.cs" Inherits="WebApplication2.request" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
<style type="text/css">
        .c
        {
            z-index: 1;
            left: 224px;
            top: 550px;
            position: absolute;
            height: 379px;
            width: 703px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="c">
    <asp:Label ID="Label1" runat="server" 
        style="z-index: 1; left: 66px; top: 26px; position: absolute; width: 339px; height: 34px; text-transform: uppercase; color: #FFFFFF; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif; text-align: center" 
        Text="SEND friend request"></asp:Label>
    <asp:Label ID="Label4" runat="server" 
        
        
        style="z-index: 1; left: 477px; top: 51px; position: absolute; width: 152px; text-transform: uppercase; color: #FFFFFF; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif"></asp:Label>
    <asp:Label ID="Label2" runat="server" 
        style="z-index: 1; left: 114px; top: 138px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif; height: 31px; width: 41px;" 
        Text="To"></asp:Label>
    <asp:TextBox ID="TextBox1" runat="server" 
        
        style="z-index: 1; left: 268px; top: 91px; position: absolute; width: 181px"></asp:TextBox>
    <asp:TextBox ID="TextBox2" runat="server" 
        
        style="z-index: 1; left: 270px; top: 136px; position: absolute; width: 180px"></asp:TextBox>
    <asp:Label ID="Label3" runat="server" 
        style="z-index: 1; left: 116px; top: 100px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
        Text="Time"></asp:Label>

        </div>

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
</asp:Content>
