﻿<%@ Page Title="" Language="C#" MasterPageFile="~/user.master" AutoEventWireup="true" CodeBehind="response.aspx.cs" Inherits="WebApplication2.response" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .w
        {
            z-index: 1;
            left: 105px;
            top: 550px;
            position: absolute;
            height: 401px;
            width: 645px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="w" style="overflow: scroll">




    <asp:Label ID="Label1" runat="server" Text="Friend requests" 
        style="z-index: 1; left: 239px; top: 26px; position: absolute; font-weight: 700; font-size: medium; width: 74px;" 
        Visible="False"></asp:Label>


    <asp:GridView ID="GridView1" runat="server" BackColor="#CCCCCC" 
        BorderColor="#999999" BorderStyle="Solid" BorderWidth="3px" CellPadding="4" 
        CellSpacing="2" ForeColor="Black" 
        
        
        style="z-index: 1; left: 30px; top: 60px; position: absolute; height: 291px; width: 576px; font-size: medium; font-family: 'Times New Roman', Times, serif">
        <FooterStyle BackColor="#CCCCCC" />
        <HeaderStyle BackColor="Black" Font-Bold="True" ForeColor="White" />
        <PagerStyle BackColor="#CCCCCC" ForeColor="Black" HorizontalAlign="Left" />
        <RowStyle BackColor="White" />
        <SelectedRowStyle BackColor="#000099" Font-Bold="True" ForeColor="White" />
        <SortedAscendingCellStyle BackColor="#F1F1F1" />
        <SortedAscendingHeaderStyle BackColor="#808080" />
        <SortedDescendingCellStyle BackColor="#CAC9C9" />
        <SortedDescendingHeaderStyle BackColor="#383838" />


         <Columns>

    <asp:TemplateField HeaderText="Request">
                <ItemTemplate>
                <asp:HyperLink ID="HyperLink1" runat="server"  NavigateUrl='<%# string.Format("~/reqaccept.aspx?Request_From={0}&Request_To={1}",
                  HttpUtility.UrlEncode(Eval("Request_From").ToString()),HttpUtility.UrlEncode(Eval("Request_To").ToString())) %>'
                    Text="Accept"  EnableTheming="False" />
                          </ItemTemplate>                                                                                                                                                                                                                                                                                                                                                           
                <ItemStyle BackColor="Wheat" ForeColor="#660066" />
                </asp:TemplateField>




                </Columns>

    </asp:GridView>
   
  
















        </div>



</asp:Content>
