﻿<%@ Page Title="" Language="C#" MasterPageFile="~/user.master" AutoEventWireup="true" CodeBehind="retweet.aspx.cs" Inherits="WebApplication2.retweet" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
  <style type="text/css">
    .g
    {
        z-index: 1;
        left: 222px;
        top: 586px;
        position: absolute;
        height: 343px;
        width: 618px;
    }
</style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
      <div class="g">
<asp:Label ID="Label1" runat="server" 
    style="z-index: 1; left: 218px; top: 16px; position: absolute; text-transform: uppercase; color: #000000; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
    Text="Re-tweet"></asp:Label>
<asp:Label ID="Label3" runat="server" 
    style="z-index: 1; left: 122px; top: 132px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif; color: #CC3399;" 
    Text="Tweet Description"></asp:Label>
<asp:Label ID="Label4" runat="server" 
    style="z-index: 1; left: 135px; top: 171px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif; color: #CC3399;" 
    Text="Retweet"></asp:Label>
<asp:TextBox ID="TextBox1" runat="server" 
    
            style="z-index: 1; left: 268px; top: 94px; position: absolute; height: 21px; width: 179px;"></asp:TextBox>
<asp:TextBox ID="TextBox3" runat="server" 
    style="z-index: 1; left: 270px; top: 172px; position: absolute; width: 181px;"></asp:TextBox>
<asp:Button ID="Button4" runat="server" onclick="Button4_Click" 
    style="z-index: 1; left: 272px; top: 293px; position: absolute; width: 77px; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
    Text="Enter" />
<asp:Label ID="Label5" runat="server" 
    
            style="z-index: 1; left: 478px; top: 1px; position: absolute; width: 136px; text-transform: uppercase; color: #FFFFFF; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
            Visible="False"></asp:Label>

            <asp:Label ID="Label6" runat="server" 
    
            style="z-index: 1; left: 478px; top: 81px; position: absolute; width: 124px; text-transform: uppercase; color: #FFFFFF; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
            Visible="False"></asp:Label>


            <asp:Label ID="Label7" runat="server" 
    
            style="z-index: 1; left: 478px; top: 129px; position: absolute; width: 110px; text-transform: uppercase; color: #FFFFFF; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
            Visible="False"></asp:Label>



<asp:Label ID="Label8" runat="server" 
    
            style="z-index: 1; left: 478px; top: 211px; position: absolute; width: 112px; text-transform: uppercase; color: #FFFFFF; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
            Visible="False"></asp:Label>
            <asp:Label ID="Label10" runat="server" 
    
            style="z-index: 1; left: 478px; top: 251px; position: absolute; width: 112px; text-transform: uppercase; color: #FFFFFF; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
            Visible="False"></asp:Label>
<asp:Label ID="Label2" runat="server" 
    style="z-index: 1; left: 138px; top: 93px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif; color: #CC3399;" 
    Text="Tweet Name"></asp:Label>
<asp:TextBox ID="TextBox2" runat="server" 
    style="z-index: 1; left: 269px; top: 129px; position: absolute; width: 178px;"></asp:TextBox>
        <asp:Label ID="Label9" runat="server" Text="Tweet Type" 
            style="z-index: 1; left: 127px; top: 220px; position: absolute; width: 103px; color: #CC3399; font-weight: 700; font-family: 'Times New Roman', Times, serif; font-size: large" Visible="False"></asp:Label><asp:DropDownList
            ID="DropDownList1" runat="server" 
            style="z-index: 1; left: 272px; top: 220px; position: absolute; height: -2px; width: 176px" Visible="False">
            <asp:ListItem>--select--</asp:ListItem>
            <asp:ListItem>Positive</asp:ListItem>
            <asp:ListItem>Negative</asp:ListItem>
            <asp:ListItem>Stress</asp:ListItem>
        </asp:DropDownList>

        <asp:DropDownList ID="DropDownList2" runat="server" placeholder="Emojis" AutoPostBack="True" OnSelectedIndexChanged="DropDownList2_SelectedIndexChanged"
            style="z-index: 1; left: 470px; top: 171px; position: absolute; height: 21px; width: 92px; bottom: 148px;" Font-Size="Medium">
             <asp:ListItem>Emoji</asp:ListItem>
            <asp:ListItem>😄</asp:ListItem>
            <asp:ListItem>😞</asp:ListItem>
            <asp:ListItem>😓</asp:ListItem>

             
        </asp:DropDownList>






    </div>

</asp:Content>
