﻿<%@ Page Title="" Language="C#" MasterPageFile="~/user.master" AutoEventWireup="true" CodeBehind="searchfrnd.aspx.cs" Inherits="WebApplication2.searchfrnd" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .d
        {
            z-index: 1;
            left: 378px;
            top: 201px;
            position: absolute;
            height: 285px;
            width: 585px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
     <%--<div class="d">      </div>--%>
    <asp:Label ID="Label1" runat="server" 
        style="z-index: 1; left: 315px; top: 542px; position: absolute; width: 257px; text-transform: uppercase; color: darkseagreen; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
        Text="SEARCH FRIENDS...."></asp:Label>
    <asp:Label ID="Label2" runat="server" 
        style="z-index: 1; left: 200px; top: 586px; position: absolute; width: 100px; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
        Text="Enter Name"></asp:Label>
    <asp:TextBox ID="TextBox1" runat="server" 
        style="z-index: 1; left: 317px; top: 585px; position: absolute; width: 189px"></asp:TextBox>
    <asp:Button ID="Button4" runat="server" 
        style="z-index: 1; left: 536px; top: 580px; position: absolute; color: #008FB3; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
        Text="Search" onclick="Button4_Click" />
    <asp:GridView ID="GridView1" runat="server" BackColor="White" 
        BorderColor="#CCCCCC" BorderStyle="None" BorderWidth="1px" CellPadding="3" 
        
        
        
        style="z-index: 1; left: 84px; top: 626px; position: absolute; height: 193px; width: 635px" >
        
      
        
        <Columns>
            <asp:ImageField DataImageUrlField="Profile" ControlStyle-Width="100"  
                ControlStyle-Height = "100" HeaderText="Profile">
<ControlStyle Height="100px" Width="100px"></ControlStyle>
            </asp:ImageField>
             <asp:TemplateField HeaderText="Send Request">
                <ItemTemplate>
                <asp:HyperLink ID="HyperLink1" runat="server"  onclick="javascript:alert('ok')" NavigateUrl='<%# string.Format("~/request.aspx?") %>'
                    Text="SendRequest" />
                          </ItemTemplate>                                                                                                                                                                                                                                                                                                                                                           
                </asp:TemplateField>
               
        </Columns>
        
        <FooterStyle BackColor="White" ForeColor="#000066" />
        <HeaderStyle BackColor="#006699" Font-Bold="True" ForeColor="White" />
        <PagerStyle BackColor="White" ForeColor="#000066" HorizontalAlign="Left" />
        <RowStyle ForeColor="#000066" />
        <SelectedRowStyle BackColor="#669999" Font-Bold="True" ForeColor="White" />
        <SortedAscendingCellStyle BackColor="#F1F1F1" />
        <SortedAscendingHeaderStyle BackColor="#007DBB" />
        <SortedDescendingCellStyle BackColor="#CAC9C9" />
        <SortedDescendingHeaderStyle BackColor="#00547E" />
          
      
    </asp:GridView>
    <asp:Label ID="Label3" runat="server" 
        style="z-index: 1; left: 973px; top: 150px; position: absolute; width: 111px; text-transform: uppercase; color: #FFFFFF; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
        Text="Label"></asp:Label>
    
    
     <script type="text/javascript">
         function SendRequest() {
             var message = "CustomerId: " + customerId;
             message += "\nName: " + name;
             message += "\nCountry: " + country;
             alert(message);
             return false;
         }
</script>


</asp:Content>
