﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MAIN.Master" AutoEventWireup="true" CodeBehind="searchtwtcmt.aspx.cs" Inherits="WebApplication2.searchtwtcmt" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
     <style type="text/css">
        .d
        {
            z-index: 1;
            left: 382px;
            top: 195px;
            position: absolute;
            height: 275px;
            width: 576px;
            font-size: large;
            font-weight: 700;
            font-family: "Times New Roman", Times, serif;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
     <div class="d"></div>
    <asp:Label ID="Label1" runat="server" 
        style="z-index: 1; left: 221px; top: 882px; position: absolute; width: 435px; color: #FFFFFF; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
        Text="SEARCH TWEET AND COMMENT..." BackColor="#666699" ForeColor="#660066"></asp:Label>
    <asp:Label ID="Label2" runat="server" 
        style="z-index: 1; left: 213px; top: 1004px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
        Text="Enter Search Keyword"></asp:Label>
    <asp:TextBox ID="TextBox1" runat="server" 
        style="z-index: 1; left: 408px; top: 1002px; position: absolute; width: 200px"></asp:TextBox>
 
     
    <div>
    
    
    
    
        <asp:GridView ID="GridView1" runat="server" BackColor="White" 
            BorderColor="#CCCCCC" BorderStyle="None" BorderWidth="1px" CellPadding="3" 
            
            
            
            
            
            style="z-index: 1; left: 44px; top: 1096px; position: absolute; height: 236px; width: 696px" OnSelectedIndexChanged="GridView1_SelectedIndexChanged">
            <Columns>
                <asp:ImageField DataImageUrlField="Image" HeaderText="Picture" ControlStyle-Width="100" ControlStyle-Height = "100">
<ControlStyle Height="100px" Width="100px"></ControlStyle>
                </asp:ImageField>
               <asp:TemplateField HeaderText="Command">
                <ItemTemplate>
                <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl='<%# string.Format("~/command.aspx?") %>'
                    Text="enter command" />
                          </ItemTemplate>                                                                                                                                                                                                                                                                                                                                                           
                </asp:TemplateField>
                 <asp:TemplateField HeaderText="Tweet">
                <ItemTemplate>
                <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl='<%# string.Format("~/viewtweet.aspx?") %>'
                    Text="view tweets" />
                          </ItemTemplate>                                                                                                                                                                                                                                                                                                                                                           
                </asp:TemplateField>
               
            </Columns>
            <FooterStyle BackColor="White" ForeColor="#000066" />
            <HeaderStyle BackColor="#006699" Font-Bold="True" ForeColor="White" />
            <PagerStyle BackColor="White" ForeColor="#000066" HorizontalAlign="Left" />
            <RowStyle ForeColor="#000066" />
            <SelectedRowStyle BackColor="#669999" Font-Bold="True" ForeColor="White" />
            <SortedAscendingCellStyle BackColor="#F1F1F1" />
            <SortedAscendingHeaderStyle BackColor="#007DBB" />
            <SortedDescendingCellStyle BackColor="#CAC9C9" />
            <SortedDescendingHeaderStyle BackColor="#00547E" />
            
        </asp:GridView>
        <asp:Button ID="Button4" runat="server" onclick="Button4_Click1" 
            
            style="z-index: 1; left: 410px; top: 1048px; position: absolute; width: 67px; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif; height: 25px;" 
            Text="OK" />
        
    </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">

</asp:Content>
