﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mainpage.Master" AutoEventWireup="true" CodeBehind="server.aspx.cs" Inherits="WebApplication2.server1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .c
        {
            z-index: 1;
            left: 248px;
            top: 897px;
            position: absolute;
            height: 231px;
            width: 564px;          
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="c"></div>
    <asp:Label ID="Label1" runat="server" 
        style="z-index: 1; left: 406px; top: 902px; position: absolute; width: 230px; color: #000000; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif; text-align: center;" 
        Text="Server Login"></asp:Label>
        <asp:Label ID="Label2" runat="server" 
        style="z-index: 1; left: 339px; top: 956px; position: absolute; width: 82px; color: #000000; font-size: medium; font-weight: 700; font-family: 'Times New Roman', Times, serif; height: 18px;" 
        Text="User Name"></asp:Label>
        <asp:Label ID="Label3" runat="server" 
        style="z-index: 1; left: 353px; top: 993px; position: absolute; width: 66px; font-size: medium; font-weight: 700; font-family: 'Times New Roman', Times, serif; color: #000000; height: 13px;" 
        Text="Password"></asp:Label>
        <asp:Button ID="Button4" runat="server" 
    style="z-index: 1; left: 490px; top: 1062px; position: absolute; width: 73px; color: #CC0099; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif; height: 25px;" 
    Text="Login" onclick="Button4_Click" />

<asp:TextBox ID="TextBox1" runat="server" 
    style="z-index: 1; left: 442px; top: 954px; position: absolute; width: 200px"></asp:TextBox>
<asp:TextBox ID="TextBox2" runat="server" 
    style="z-index: 1; left: 443px; top: 990px; position: absolute; width: 200px" 
    TextMode="Password"></asp:TextBox>








</asp:Content>
