﻿<%@ Page Title="" Language="C#" MasterPageFile="~/server.master" AutoEventWireup="true" CodeBehind="showtweets.aspx.cs" Inherits="WebApplication2.showtweets" %>
<script runat="server">

    protected void Button1_Click(object sender, EventArgs e)
    {
        //String reSultString = readFromLink(TextBox2.Text);
        //TextBox1.Text = reSultString;
        
        string s=TextBox2.Text;
        string html = string.Empty;
        string url = "https://twitter.com/search?q=" + s + "";

        System.Net.HttpWebRequest request = (System.Net.HttpWebRequest)System.Net.WebRequest.Create(url);

        using (System.Net.HttpWebResponse response = (System.Net.HttpWebResponse)request.GetResponse())
        using (System.IO.Stream stream = response.GetResponseStream())
        using (System.IO.StreamReader reader = new System.IO.StreamReader(stream))
        {
            html = reader.ReadToEnd();
        }
        //TextBox1.Text = html;
        Literal1.Text = html;
    }
    public static String readFromLink(string s)
    {
      //  String url = "https://twitter.com/search?q=" + s + "";
        string url = "https://twitter.com/search?q=mohanlal&src=typd";
        System.Net.WebClient client = new System.Net.WebClient();

        byte[] data = client.DownloadData(url);

        client.DownloadFile(url, "D:\\aaa.txt");
        string html = System.Text.Encoding.UTF8.GetString(data);

        //String html = System.Text.Encoding.UTF8.GetString(data);



        System.Text.RegularExpressions.Regex rx = new System.Text.RegularExpressions.Regex("<[^>]*>");
        html = rx.Replace(html, "").Replace("  ", "").Replace("\n\n", "");    // remove html tags

        var regex = new Regex(s);     //particular word containg sentence
        var text = html;
        string str = "";
        var texts = text.Split('.', ';', '\n');
        foreach (var t in texts)
        {
            if (regex.IsMatch(t))
            {
                str += t.Trim();
            }
        }

        //return html;
        return str;
    }
    protected void Page_Load(object sender, EventArgs e)
    {
        //TextBox1.Text=  GetWebSiteContents("https://twitter.com/search?q=kerala");
    }
    protected string GetWebSiteContents(string url)
    {
        System.Net.WebRequest req = System.Net.WebRequest.Create(url);
        // Get the stream from the returned web response
        System.IO.StreamReader sr = new System.IO.StreamReader(req.GetResponse().GetResponseStream());
        System.Text.StringBuilder sb = new System.Text.StringBuilder();
        string strLine;
        // Read the stream a line at a time and place each one into the stringbuilder
        while ((strLine = sr.ReadLine()) != null)
        {
            // Ignore blank lines
            if (strLine.Length > 0) sb.Append(strLine);
        }
        sr.Close();

        System.Text.RegularExpressions.Regex rx = new System.Text.RegularExpressions.Regex("<[^>]*>");
        string str = rx.Replace(sb.ToString(), "").Replace("   ", " ");   //remove html tags

        return str;
    }
</script>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
     <style type="text/css">
        .aa {
            z-index: 1;
            left: 240px;
            top: 560px;
            position: absolute;
            height: 318px;
            width: 568px;
        }

        #Text1 {
            height: 48px;
            width: 792px;
        }

        #TextArea1 {
            height: 160px;
            width: 529px;
        }

        .auto-style1 {
            z-index: 1;
            left: 122px;
            top: 553px;
            position: absolute;
            height: 692px;
            width: 580px;
            text-align: justify;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
     <div id="myDiv" class="auto-style1" style="overflow: scroll">

        &nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <asp:Label ID="Label1" runat="server" ForeColor="#333300" Text="Keyword" Style="text-align: left"></asp:Label>&nbsp
        <asp:TextBox ID="TextBox2" runat="server" Height="16px" Width="239px" ForeColor="#FF3300" ReadOnly="false" TextMode="SingleLine"></asp:TextBox>
        <asp:Button ID="Button1" runat="server" Height="25px" Text="Ok" Width="44px" OnClick="Button1_Click" />
        <br />
        <br />
        <br />
        <asp:Literal ID="Literal1" runat="server"></asp:Literal>

    </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
</asp:Content>
