﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mainpage.Master" AutoEventWireup="true" CodeBehind="tweetserver.aspx.cs" Inherits="WebApplication2.tweetserver" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
    .c
    {
        z-index: 1;
        left: 380px;
        top: 226px;
        position: absolute;
        height: 324px;
        width: 588px;
    }
</style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
     <div class="c"></div>
<asp:Label ID="Label1" runat="server" 
    style="z-index: 1; left: 203px; top: 906px; position: absolute; text-transform: uppercase; color: #FFFFFF; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif; width: 479px;" 
    Text="WELCOME TO TWEET -SERVER" BackColor="#666699"></asp:Label>
<asp:Label ID="Label2" runat="server" 
    style="z-index: 1; left: 244px; top: 989px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif; height: 18px;" 
    Text="Server Name"></asp:Label>
<asp:Label ID="Label3" runat="server" 
    style="z-index: 1; left: 248px; top: 1027px; position: absolute; height: 17px; width: 79px; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
    Text="Password"></asp:Label>
<asp:TextBox ID="TextBox1" runat="server" 
    style="z-index: 1; left: 370px; top: 987px; position: absolute; width: 200px"></asp:TextBox>
<asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" 
    ControlToValidate="TextBox1" ErrorMessage="enter server name" 
    style="z-index: 1; left: 905px; top: 308px; position: absolute"></asp:RequiredFieldValidator>
<asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" 
    ControlToValidate="TextBox2" ErrorMessage="enter password" 
    style="z-index: 1; left: 902px; top: 361px; position: absolute"></asp:RequiredFieldValidator>
<asp:TextBox ID="TextBox2" runat="server" 
    style="z-index: 1; left: 370px; top: 1025px; position: absolute; width: 196px" 
        TextMode="Password"></asp:TextBox>
<asp:Button ID="Button4" runat="server" 
    style="z-index: 1; left: 333px; top: 1102px; position: absolute; width: 103px; color: #008FB3; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
    Text="Login" onclick="Button4_Click" />

</asp:Content>
