﻿<%@ Page Title="" Language="C#" MasterPageFile="~/user.master" AutoEventWireup="true" CodeBehind="usermenu.aspx.cs" Inherits="WebApplication2.usermenu" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
 <style type="text/css">
        .d
        {
            z-index: 1;
            left: 125px;
            top: 550px;
            position: absolute;
            width: 499px;
            height: 495px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
     <div class="d">
    <asp:Label ID="Label1" runat="server" 
        style="z-index: 1; left: 68px; top: 9px; position: absolute; text-transform: uppercase; color: #000000; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
        Text="WELCOME TO USER LOGIN..."></asp:Label>



        <asp:Image ID="Image1" runat="server" ImageUrl="~/images/sm.jpg" 
            style="z-index: 1; left: 61px; top: 65px; position: absolute; width: 430px; height: 242px" />




        <asp:Label ID="Label3" runat="server" Text="Label" Visible="False"></asp:Label>




        </div>


</asp:Content>
