﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MAIN.Master" AutoEventWireup="true" CodeBehind="user.aspx.cs" Inherits="WebApplication2.user1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .c
        {
            z-index: 1;
            left: 143px;
            top: 550px;
            position: absolute;
            height: 288px;
            width: 521px;
           
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="c"></div>
    <asp:Label ID="Label1" runat="server" 
        style="z-index: 1; left: 354px; top: 930px; position: absolute; width: 305px; color: #000000; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif; text-align: center;" 
        Text="Welcome User Login"></asp:Label>
        <asp:Label ID="Label2" runat="server" 
        style="z-index: 1; left: 304px; top: 980px; position: absolute; width: 94px; color: #000000; font-size: medium; font-weight: 700; font-family: 'Times New Roman', Times, serif; height: 18px;" 
        Text="User Name"></asp:Label>
        <asp:Label ID="Label3" runat="server" 
        style="z-index: 1; left: 302px; top: 1028px; position: absolute; width: 90px; font-size: medium; font-weight: 700; font-family: 'Times New Roman', Times, serif; color: #000000;" 
        Text="Password"></asp:Label>
        <asp:Button ID="Button4" runat="server" 
    style="z-index: 1; left: 366px; top: 1079px; position: absolute; width: 110px; color: #CC0099; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif; height: 43px;" 
    Text="Login" onclick="Button4_Click" />
<asp:LinkButton ID="LinkButton1" runat="server" ForeColor="#0099CC" 
    onclick="LinkButton1_Click" 
    
        style="z-index: 1; left: 573px; top: 1100px; position: absolute; width: 101px; color: #CC0066; font-size: medium; font-weight: 700; font-family: 'Times New Roman', Times, serif">Register</asp:LinkButton>
        <asp:Label ID="Label4" runat="server" 
        style="z-index: 1; left: 485px; top: 1100px; position: absolute; height: 18px;" 
        Text="New register?" Font-Bold="True"></asp:Label>

<asp:TextBox ID="TextBox1" runat="server" 
    style="z-index: 1; left: 427px; top: 981px; position: absolute; width: 200px"></asp:TextBox>
<asp:TextBox ID="TextBox2" runat="server" 
    style="z-index: 1; left: 428px; top: 1023px; position: absolute; width: 200px" 
    TextMode="Password"></asp:TextBox>

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
</asp:Content>
