﻿<%@ Page Title="" Language="C#" MasterPageFile="~/user.master" AutoEventWireup="true" CodeBehind="userprofile.aspx.cs" Inherits="WebApplication2.userprofile" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
  <style type="text/css">
        .d
        {
            z-index: 1;
            left: 224px;
            top: 550px;
            position: absolute;
            height: 502px;
            width: 577px;
        }
        .auto-style1 {
            z-index: 1;
            left: 99px;
            top: 550px;
            position: absolute;
            height: 518px;
            width: 519px;
            text-align: left;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="auto-style1">
    <asp:Label ID="Label9" runat="server" 
        style="z-index: 1; left: 431px; top: 32px; position: absolute; width: 157px; text-transform: uppercase; color: #FFFFFF; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
        Text="Label"></asp:Label>
    <asp:Label ID="Label1" runat="server" 
        style="z-index: 1; left: 70px; top: 88px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif; color: #CC3399;" 
        Text="Name"></asp:Label>
    <asp:TextBox ID="TextBox1" runat="server" 
        
        style="z-index: 1; left: 230px; top: 86px; position: absolute; width: 200px"></asp:TextBox>
    <asp:TextBox ID="TextBox2" runat="server" 
        
        
        style="z-index: 1; left: 230px; top: 233px; position: absolute; width: 200px"></asp:TextBox>
    <asp:Image ID="Image1" runat="server" 
        
        style="z-index: 1; left: 234px; top: 123px; position: absolute; width: 198px; height: 96px" />
    <asp:Label ID="Label8" runat="server" 
        style="z-index: 1; left: 70px; top: 162px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif; height: 18px; color: #CC3399;" 
        Text="Profile"></asp:Label>
    <asp:TextBox ID="TextBox3" runat="server" 
        
        
        style="z-index: 1; left: 231px; top: 274px; position: absolute; width: 200px"></asp:TextBox>
    <asp:TextBox ID="TextBox4" runat="server" 
        
        
        style="z-index: 1; left: 231px; top: 321px; position: absolute; width: 200px"></asp:TextBox>
    <asp:TextBox ID="TextBox5" runat="server" 
        
        
        style="z-index: 1; left: 231px; top: 363px; position: absolute; width: 200px"></asp:TextBox>
              
        <%--  <asp:Button ID="Button1" runat="server"               
          style="z-index:auto"  BorderColor="#FF99CC"  Height="28px" Text="Update"  Width="69px"/>--%>
        <asp:Button ID="Button1" runat="server" 
    style="z-index: 1; left: 235px; top: 458px; position: absolute; width: 85px; color: #008FB3; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif; height: 33px" 
    Text="Update" onclick="Button4_Click" />


    <asp:Label ID="Label2" runat="server" 
        style="z-index: 1; left: 70px; top: 237px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif; color: #CC3399;" 
        Text="Email"></asp:Label>
    <asp:Label ID="Label3" runat="server" 
        style="z-index: 1; left: 70px; top: 281px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif; color: #CC3399;" 
        Text="Mobile.No"></asp:Label>
    <asp:Label ID="Label4" runat="server" 
        style="z-index: 1; left: 70px; top: 325px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif; color: #CC3399;" 
        Text="Address"></asp:Label>
    <asp:Label ID="Label5" runat="server" 
        style="z-index: 1; left: 70px; top: 365px; position: absolute; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif; color: #CC3399;" 
        Text="DOB"></asp:Label>

    <asp:Label ID="Label6" runat="server" 
        style="z-index: 1; left: 193px; top: 34px; position: absolute; text-transform: uppercase; color: #000000; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif" 
        Text="User Profile"></asp:Label>


       <asp:FileUpload ID="FileUpload1" runat="server" 
    style="z-index: 1; left: 435px; top: 145px; position: absolute" />


        </div>

</asp:Content>
