﻿<%@ Page Title="" Language="C#" MasterPageFile="~/user.master" AutoEventWireup="true" CodeBehind="viewallfriends.aspx.cs" Inherits="WebApplication2.viewallfriends" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
    .f
    {
        z-index: 1;
        left: 118px;
        top: 550px;
        position: absolute;
        height: 399px;
        width: 829px;
    }
</style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

        <asp:Label ID="Label1" runat="server" Text="VIEW ALL USERS" 
            style="z-index: 1; left: 303px; top: 543px; position: absolute; width: 179px; color: #000000; font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif; right: 330px; height: 21px;"></asp:Label>

            <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="False" 
                BackColor="#CCCCCC" BorderColor="#999999" BorderStyle="Solid" BorderWidth="3px" 
                CellPadding="4" CellSpacing="2"  ForeColor="Black" 
                
                
                
            style="z-index: 1; left: 20px; top: 596px; position: absolute; height: 363px; width: 729px; font-size: medium; font-family: 'Times New Roman', Times, serif;">
                <Columns>
                    <asp:BoundField DataField="User_Name" HeaderText="Name" 
                        SortExpression="User_Name" />
                    
                    <asp:BoundField DataField="DOB" HeaderText="DOB" SortExpression="DOB" />
                    <asp:BoundField DataField="Gender" HeaderText="Gender" 
                        SortExpression="Gender" />
                  
                    <asp:ImageField DataImageUrlField="Profile" HeaderText="Profile" ControlStyle-Height="100" ControlStyle-Width="100">
<ControlStyle Height="100px" Width="100px"></ControlStyle>
                    </asp:ImageField>


                </Columns>
                <FooterStyle BackColor="#CCCCCC" />
                <HeaderStyle BackColor="Black" Font-Bold="True" ForeColor="White" />
                <PagerStyle BackColor="#CCCCCC" ForeColor="Black" HorizontalAlign="Left" />
                <RowStyle BackColor="White" />
                <SelectedRowStyle BackColor="#000099" Font-Bold="True" ForeColor="White" />
                <SortedAscendingCellStyle BackColor="#F1F1F1" />
                <SortedAscendingHeaderStyle BackColor="#808080" />
                <SortedDescendingCellStyle BackColor="#CAC9C9" />
                <SortedDescendingHeaderStyle BackColor="#383838" />
            </asp:GridView>


            <%--<asp:SqlDataSource ID="SqlDataSource1" runat="server" 
                ConnectionString="<%$ ConnectionStrings:stressdetectConnectionString %>" 
                SelectCommand="SELECT [User_Name], [Mobile_No], [DOB], [Gender], [Profile] FROM [register]">
            </asp:SqlDataSource>--%>




</div>
</asp:Content>
