﻿<%@ Page Title="" Language="C#" MasterPageFile="~/server.master" AutoEventWireup="true" CodeBehind="viewuser.aspx.cs" Inherits="WebApplication2.viewuser" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
     <style type="text/css">
        .d
        {
            z-index: 1;
            left: 6px;
            top: 557px;
            position: absolute;
            height: 452px;
            width: 713px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="d" style="overflow: scroll">
        </div>
    <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="False" 
       
        EmptyDataText="There are no data records to display." 
        
        
        
        
        style="z-index: 1; left: 34px; top: 688px; position: absolute; height: 242px; width: 572px; font-family: 'Times New Roman', Times, serif; font-size: medium; right: 94px;" 
        BackColor="#CCCCCC" BorderColor="#999999" BorderStyle="Solid" BorderWidth="3px" 
        CellPadding="4" CellSpacing="2" ForeColor="Black">
        <Columns>
            <asp:BoundField DataField="User_Name" HeaderText="User_Name" 
                SortExpression="User_Name" />
            <asp:BoundField DataField="Email_Address" HeaderText="Email_Address" 
                SortExpression="Email_Address" />
            <asp:BoundField DataField="Mobile_No" HeaderText="Mobile_No" 
                SortExpression="Mobile_No" />
            <asp:BoundField DataField="Your_Address" HeaderText="Your_Address" 
                SortExpression="Your_Address" />
            <asp:BoundField DataField="DOB" HeaderText="DOB" 
                SortExpression="DOB" />
            <asp:BoundField DataField="Gender" HeaderText="Gender" 
                SortExpression="Gender" />
            
            <asp:ImageField DataImageUrlField="Profile" HeaderText="Profile" ControlStyle-Width="100" ControlStyle-Height = "100">

            </asp:ImageField>
           </Columns>
        <FooterStyle BackColor="#CCCCCC" />
        <HeaderStyle BackColor="Black" Font-Bold="True" ForeColor="White" />
        <PagerStyle BackColor="#CCCCCC" ForeColor="Black" HorizontalAlign="Left" />
        <RowStyle BackColor="White" />
        <SelectedRowStyle BackColor="#000099" Font-Bold="True" ForeColor="White" />
        <SortedAscendingCellStyle BackColor="#F1F1F1" />
        <SortedAscendingHeaderStyle BackColor="#808080" />
        <SortedDescendingCellStyle BackColor="#CAC9C9" />
        <SortedDescendingHeaderStyle BackColor="#383838" />
    </asp:GridView>
   <%-- <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
        ConnectionString="<%$ ConnectionStrings:stressdetectConnectionString %>" 
        SelectCommand="SELECT [User_Name], [Email_Address], [Mobile_No], [Your_Address], [DOB], [Gender], [Profile] FROM [register]">
    </asp:SqlDataSource>--%>
    
    <asp:Label ID="Label1" runat="server" 
        style="z-index: 1; left: 137px; top: 573px; position: absolute; width: 412px; color: #000000; font-size: x-large; font-weight: 700; font-family: 'Times New Roman', Times, serif; text-transform: uppercase" 
        Text="view all authorized user...."></asp:Label>

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
</asp:Content>
