﻿<%@ Page Title="" Language="C#" MasterPageFile="~/user.master" AutoEventWireup="true" CodeBehind="viewtweet.aspx.cs" Inherits="WebApplication2.viewtweet" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .aa
        {
            z-index: 1;
            left: 6px;
            top: 519px;
            position: absolute;
            height: 757px;
            width: 728px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
     <div class="aa" style="overflow: scroll">




    <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="False"   
        BackColor="#CCCCCC" BorderColor="#999999" BorderStyle="Solid" BorderWidth="3px" 
        CellPadding="4" CellSpacing="2"  ForeColor="Black" 
        
        style="z-index: 1; left: 20px; top: 36px; position: absolute; height: 334px; width: 641px; color: #000000; font-size: medium; font-family: 'Times New Roman', Times, serif" OnRowDataBound="GridView1_RowDataBound" OnSelectedIndexChanged="GridView1_SelectedIndexChanged">
        <Columns>
            <asp:BoundField DataField="Tweet_Name" HeaderText="Tweet_Name" 
                SortExpression="Tweet_Name" />
            <asp:BoundField DataField="Tweet_Description" HeaderText="Tweet_Description" 
                SortExpression="Tweet_Description" />
            <asp:BoundField DataField="Tweet_By" HeaderText="Tweet_By" 
                SortExpression="Tweet_By" />
               
            
            <asp:TemplateField HeaderText="Image">
                 <ItemTemplate>
                       <asp:Image ID ="Img" runat="server" Height="100" Width="100"   ImageUrl='<%#Eval("Image")%>'  />
                 </ItemTemplate>
             </asp:TemplateField>
       

      

             <asp:TemplateField HeaderText="Retweet">
                <ItemTemplate>
                <asp:HyperLink ID="HyperLink1" runat="server"  NavigateUrl='<%# string.Format("~/retweet.aspx?Tweet_Name={0}&Tweet_Description={1}",
                  HttpUtility.UrlEncode(Eval("Tweet_Name").ToString()),HttpUtility.UrlEncode(Eval("Tweet_Description").ToString())) %>'
                    Text="Retweet"  EnableTheming="False" />
                          </ItemTemplate>                                                                                                                                                                                                                                                                                                                                                           
                <ItemStyle BackColor="Wheat" ForeColor="#660066" />
                </asp:TemplateField>
            
        </Columns>
        <FooterStyle BackColor="#CCCCCC" />
        <HeaderStyle BackColor="Black" Font-Bold="True" ForeColor="White" />
        <PagerStyle BackColor="#CCCCCC" ForeColor="Black" HorizontalAlign="Left" />
        <RowStyle BackColor="White" />
        <SelectedRowStyle BackColor="#000099" Font-Bold="True" ForeColor="White" />
        <SortedAscendingCellStyle BackColor="#F1F1F1" />
        <SortedAscendingHeaderStyle BackColor="#808080" />
        <SortedDescendingCellStyle BackColor="#CAC9C9" />
        <SortedDescendingHeaderStyle BackColor="#383838" />
    </asp:GridView>




   <%-- <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
        ConnectionString="<%$ ConnectionStrings:stressdetectConnectionString %>" 
        SelectCommand="SELECT [Tweet_Name], [Tweet_Description], [Tweet_By], [Image] FROM [createtweet]">
    </asp:SqlDataSource>--%>

            




        <asp:Label ID="Label1" runat="server" Text="Label" Visible="False"></asp:Label>




</div>
    <%--<table border="1" 
        style="z-index: 1; left: 532px; top: 275px; position: absolute; height: 54px; width: 171px">
<tr>
<td style="font-size: large; font-weight: 700; font-family: 'Times New Roman', Times, serif; text-transform: uppercase; text-align: center">Name</td>

</tr>

   
   
     
     <%  
         SqlConnection con = new SqlConnection(@"Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\DLK\Documents\twitter.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True");
         SqlCommand cm = new SqlCommand();
         //int clicks = 0;
   SqlDataAdapter da = new SqlDataAdapter();
   SqlDataReader dr;
   String tweet,key;
   con.Open();
   cm = new SqlCommand("select Tweet_Name,Tweet_Description,Tweet_Uses from createtweet", con);
   dr = cm.ExecuteReader();
     
    while (dr.Read())
{
    tweet = dr["Tweet_Name"].ToString();
    key= dr["Tweet_Description"].ToString();
    


    %>
<tr>
<td style="font-size: medium; font-weight: 700; font-family: 'Times New Roman', Times, serif"><%=tweet%>&emsp;</td><td><a href="<%=key %>" onclick='addToCount(1);' target="_blank" >URL</a>&emsp;

   </td> <td> <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/count.aspx">view</asp:HyperLink>
</td>

 
</tr>
  
<%
    
    
    } %>
</table>--%>

</asp:Content>
