﻿<%@ Page Title="" Language="C#" MasterPageFile="~/server.master" AutoEventWireup="true" CodeBehind="viewfilters.aspx.cs" Inherits="WebApplication2.viewfilters" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
<style type="text/css">
        .i
        {
            z-index: 1;
            left: 73px;
            top: 570px;
            position: absolute;
            height: 334px;
            width: 429px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
        <div class="i" style="overflow: scroll">

    <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="False" 
        BackColor="#CC3399" BorderColor="#999999" BorderStyle="Solid" BorderWidth="3px" 
        CellPadding="4" CellSpacing="2"  ForeColor="Black" 
        style="z-index: 1; left: 40px; top: 22px; position: absolute; height: 219px; width: 366px; color: #000000; font-size: medium; font-family: 'Times New Roman', Times, serif; background-color: #FF33CC">
        <Columns>
            <asp:BoundField DataField="Fillter" HeaderText="Fillter" 
                SortExpression="Fillter" />
            <asp:BoundField DataField="Category" HeaderText="Category" 
                SortExpression="Category" />
        </Columns>
        <FooterStyle BackColor="#CCCCCC" />
        <HeaderStyle BackColor="Black" Font-Bold="True" ForeColor="White" />
        <PagerStyle BackColor="#CCCCCC" ForeColor="Black" HorizontalAlign="Left" />
        <RowStyle BackColor="White" />
        <SelectedRowStyle BackColor="#000099" Font-Bold="True" ForeColor="White" />
        <SortedAscendingCellStyle BackColor="#F1F1F1" />
        <SortedAscendingHeaderStyle BackColor="#808080" />
        <SortedDescendingCellStyle BackColor="#CAC9C9" />
        <SortedDescendingHeaderStyle BackColor="#383838" />
    </asp:GridView>


    <%--<asp:SqlDataSource ID="SqlDataSource1" runat="server" 
        ConnectionString="<%$ ConnectionStrings:stressdetectConnectionString %>" 
        SelectCommand="SELECT [Category], [Fillter] FROM [addshort]">
    </asp:SqlDataSource>--%>


</div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
</asp:Content>
